@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
html,
body {
    height: 100%;
    margin: -8px;
    font-family: "Dosis", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #5d7399;
    overflow: hidden;
}

.content {
  height: 100%;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom, #bbcfe1 0%, #e8f2f6 80%);
  overflow: hidden;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 20;
}
h1 {
  font-size: 2.5em;
}
p {
  font-size: 3vh;
  line-height: 4em;
}
.main-text {
  padding: 15vh 20px 0 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.home-link {
  font-size: 0.6em;
  font-weight: 400;
  color: #dd4040;
  text-decoration: none;
  opacity: 0.6;
  border: 1px dashed rgba(93, 115, 153, 0.5);
}
.home-link:hover {
  opacity: 1;
}

.ground {
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f5dad8;
  box-shadow: 0 0 10px 10px #f5dad8;
}
.ground:before,
.ground:after {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  top: -62.5px;
  z-index: -1;
  background: transparent;
  transform: scaleX(0.2) rotate(45deg);
}
.ground:after {
  left: 50%;
  margin-left: -166.6666666667px;
  box-shadow: -345px 255px 15px #aab6cb, -550px 650px 15px #91a1bc,
    -930px 870px 15px #9aa9c2, -1205px 1195px 15px #aab6cb,
    -1485px 1515px 15px #8a9bb8, -1755px 1845px 15px #8193b2,
    -2070px 2130px 15px #a7b4c9, -2415px 2385px 15px #97a6c0,
    -2700px 2700px 15px #b0bccf, -2950px 3050px 15px #97a6c0,
    -3270px 3330px 15px #8798b6, -3615px 3585px 15px #b7c1d3,
    -3915px 3885px 15px #b0bccf, -4230px 4170px 15px #a1aec6,
    -4470px 4530px 15px #7e90b0, -4800px 4800px 15px #7e90b0;
}
.ground:before {
  right: 50%;
  margin-right: -166.6666666667px;
  box-shadow: 335px -265px 15px #a4b1c8, 640px -560px 15px #b7c1d3,
    945px -855px 15px #b7c1d3, 1175px -1225px 15px #adb9cd,
    1460px -1540px 15px #8798b6, 1835px -1765px 15px #91a1bc,
    2100px -2100px 15px #8a9bb8, 2360px -2440px 15px #b0bccf,
    2680px -2720px 15px #8798b6, 2955px -3045px 15px #8a9bb8,
    3270px -3330px 15px #7e90b0, 3640px -3560px 15px #94a3be,
    3905px -3895px 15px #7e90b0, 4190px -4210px 15px #a4b1c8,
    4495px -4505px 15px #bac4d5, 4770px -4830px 15px #8193b2;
}

.mound {
  margin-top: -100px;
  font-weight: 800;
  font-size: 180px;
  text-align: center;
  color: #4f772d;
  pointer-events: none;
}
.mound:before {
  content: "";
  display: block;
  width: 600px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50px;
  z-index: 1;
  border-radius: 100%;
  background-color: #f8e8e7;
  background-image: linear-gradient(to bottom, #f5dad8, #ffe9e8 60px);
}
.mound:after {
  content: "";
  display: block;
  width: 28px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 68px;
  z-index: 2;
  background: #4f772d;
  border-radius: 100%;
  transform: rotate(-15deg);
  box-shadow: -56px 12px 0 1px #4f772d, -126px 6px 0 2px #4f772d,
    -196px 24px 0 3px #4f772d;
}

.mound_text {
  transform: rotate(6deg);
}

.mound_spade {
  display: block;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 50%;
  top: 42%;
  margin-right: -250px;
  z-index: 0;
  transform: rotate(35deg);
  background: #4f772d;
}
.mound_spade:before,
.mound_spade:after {
  content: "";
  display: block;
  position: absolute;
}
.mound_spade:before {
  width: 40%;
  height: 26px;
  bottom: 98%;
  left: 50%;
  margin-left: -20%;
  background: #4f772d;
}
.mound_spade:after {
  width: 100%;
  height: 30px;
  top: -55px;
  left: 0%;
  box-sizing: border-box;
  border: 10px solid #4f772d;
  border-radius: 4px 4px 20px 20px;
}
