@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap%27');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
  
  }
  
  ol, ul {
    list-style: none;
  }
  
  /* Contenu de la page */
  
  .tltName{
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }
 
  section{
    padding: 200px 100px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 0px;
  }
  
  .banner{
    position: relative;
    min-height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
  }
  
  .banner img{
    border-radius: 400px;
    box-shadow: 40px 35px 50px  #bcb8b1;
    margin-right: 8%;
  }
  
  .banner h2{
    font-size: 85px;
    color: #1c1f29;
    font-weight: 500;
    line-height: 1.5em;
  }
  
  .banner h2 span{
    font-size: 1.3em;
    font-weight: 700;
  }
  
  .banner h3{
    font-size: 30px;
    color: rgb(44, 43, 43);
    font-weight: 500;
  }
  
  .wlcm{
    text-align: center;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .wlcm span{
    text-transform: uppercase;
    display: block;
  }
  .text1{
    color: burlywood;
    font-size: 90px;
    font-weight: 500;
    letter-spacing: 6px;
    margin-bottom: 20px;
    position: relative;
    animation: text 1.6s 1;
    -webkit-text-stroke: 0.23vw #143642;
  }
  .text2{
    font-size: 45px;
    color: #38413f;
  }
  @keyframes text {
    0%{
      color: burlywood;
      margin-bottom: -15px;
    }
    30%{
      letter-spacing: 50%;
      margin-bottom: -15px;
    }
    85%{
      letter-spacing: 6px;
      margin-bottom: -15px;
    }
  }
  .btn{
    position: relative;
    font-size: 30px;
    display: inline-block;
    padding: 10px 30px;
    border: 5px solid #e5383b;
    margin-top: 20px;
    margin: 40px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #1a759f;
    transition: 0.5s;
  }
  .btn:hover{
    color: burlywood;
    transition-delay: 1.5s; 
    color: #1c1f29;
  }
  .btn:nth-child(2){
    filter: hue-rotate(80deg);
  }
  .btn::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #e5383b;
    box-shadow: 5px -8px 0px #e5383b,
                5px 8px 0px #e5383b;
    transition: widht 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s; 
    transition-delay: 1s,0.5s,0s,0s;           
  }
  .btn:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 8px 0px 0px #e5383b,
                8px 0px 0px #e5383b;
    transition-delay: 0s,0.5s,1s,1s; 
  }
    
  .btn::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #e5383b;
    box-shadow: -8px -8px 0px #e5383b,
                -8px 8px 0px #e5383b;
    transition: widht 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s; 
    transition-delay: 1s,0.5s,0s,0s;           
    }
  .btn:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0px 0px #e5383b,
                -5px 0px 0px #e5383b;
    transition-delay: 0s,0.5s,1s,1s;  
  }
  .btn span{
    position: relative;
    z-index: 100;
  }
  
  
  /* header */
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }
  
  header.sticky{
    background-color:#c1666b;
    padding: 20px 100px;
  }
  header.sticky .logo{
    color: #000;
  }
  header.sticky ul li a{
    color: #000;
  }
  header.sticky .logo:hover{
    color: #e4dfda;
  }
  .logo:hover{
    color: #e4dfda;
  }
  
  header .logo{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase; 
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  header ul{
    position: relative;
    display: flex;
    margin-right: 100px;
  }
  
  header ul li {
    position: relative;
    list-style: none;
    margin-right: 50px;
  }
  
  header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  header ul li a:hover{
    color: #e4dfda;
  }
  
  
  .heading h2{
    text-align: center;
    font-weight: 600;
    font-size: 45px;
  }
  
  .content{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
  
  .contentBx{
    padding-right: 30px;
  }
  
  .w50{
    min-width: 50%; 
  }
  .content img{
    font-size: 1.5vw;
    border-radius: 20px;
    margin-left: 8%;
    max-width: 20%;
  }
  
  .contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .itc{
    font-style:oblique;
  }
    
  .contentBx p{
    margin-top: 10px;
    color: black;
    font-size: 20px;
  }


  .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .skills .skills-content .column{
    width: calc(50% - 30px);
  }
  
  .skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .skills .skills-content .left p{
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .skills .skills-content .right .bars .infoS{
    margin-top: 15px;
  }
  
  .skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .skills .skills-content .right span{
    font-weight: 500;
  }
  
  .skills .skills-content .right .line{
    height: 5px;
    width:100%;
    background: lightgray;
    position: relative;
  }
  .skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: lightseagreen;
  }
  
  .skills .skills-content .right .html::before{
    width: 90%;
  }
  .skills .skills-content .right .css::before{
    width: 70%;
  }
  .skills .skills-content .right .js::before{
    width: 10%;
  }
  .skills .skills-content .right .excl::before{
    width: 10%;
  }
  .skills .skills-content .right .wrd::before{
    width: 40%;
  }
  .skills .skills-content .right  .pwp::before{
    width: 80%;
  }
  .skills .skills-content .right  .flp::before{
      width: 60%;
  }
  .skills .skills-content .right  .eng::before{
    width: 65%;
}
.skills .skills-content .right  .esp::before{
  width: 50%;
}
  
  
  .services{
    background:burlywood;
  } 
  .services h2{
    color: #1c1f29;
  }
  .services .heading ul li a{
    margin-top: 20px;
    position: relative;
    align-items: center;
    margin-left: 45%;
    font-size: 45px;
    min-height: 6vh;
  }
  .span_hobbies{
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #3F7CAC;
    min-height: 6vh;
  }
  .services .heading ion-icon{
    font-size: 45px;
    color: rgb(17, 16, 16);
  }
 
  .letterT{
    color: #4281a4;
  }

  /*Bas de page (Mes reseaux)*/

footer {
  
  flex-shrink: 0;
  border-top: 1px dashed #000;
  width: 100%;
  background: #f1f1f1;
  color: #333;
}

#contenu_footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}

.bloc {
  width: 25%;
  margin: 0 30px;
}

.footer_medias h3 {
  font-size: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}


.liste_media {
  list-style-type: none;
}

.span_service {
  color: black;
}

.span_service:hover {
  color: #4281a4;
}

.container_media {
  display: flex;
  justify-content: center;
}

.container_media img {
  align-items: center;
  padding-right: 20px;

}
@media (max-width: 1080px) {
  .body {
    display: flex;
  }
}
@media (max-width: 720px) {
  .body {
    display: flex;
  }
}
@media (max-width: 360px) {
  .body {
    display: flex;
  }
}